#!/usr/bin/make -f

%:
	dh $@ --buildsystem=lua --with lua

override_dh_auto_configure:
	$(MAKE) expectsrc.inc	
	dh_auto_configure -O--buildsystem=lua -O--with lua

override_dh_auto_clean:
	-rm expectsrc.inc
	dh_auto_clean -O--buildsystem=lua
